.main-meetups {
    margin: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-filter {
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0 2rem;
    padding: 0.25rem 0.75rem;
}

.main-meetups-text {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}