.main-webinars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-webinars-cards {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: baseline;
}