.event {
    height: 11rem;
    width: 16rem;
    background: url(../../Assests/webinar.jpg) no-repeat center center;
    background-size: cover;
    margin: 2rem 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}